body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
}

a {
  text-decoration: none;
}

.undefined {
  display: block;
}

.Application {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}